@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;400;700&display=swap');

html {
  font-family: 'Poppins';
    /* diameter of the circle */
    --d: 4px; 
    
    background : radial-gradient(
      circle at 
         var(--d) 
         var(--d), 
         
      #3d2b3e calc(var(--d) - 1px), 
      #210d2e var(--d)
    ) 
    0 0 / 50px 50px;
 }